@media only screen and (max-width: 600px){
    .secOne{
        height: fit-content;
    }
    /* div with image background */
    .withImgBg{
        display: none;
    }
    /* div on the right side */
    .rightSide{
        width: 90%;
        margin: auto;
    }
    .iconAndSpan{
        height: fit-content;
    }
    .mainOuter{
        position: relative;
    }
    /* div outer with sign in with apple/google div */
    .outer, .outer2, .outerB, .mainOuter{
        width: 100%;
    }
    .happeningNow{
        font-size: 45px;
    }
    /* section 2 -------- */
    .popUp{
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    /* ----------Profile.html ---- */
    .main{
        width: 100%;
    }
    /* aside left */
    .aside{
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .iconAndText{
        width: 100%;
        justify-content: center;
    }
    .icon, .tweetLogo{
        width: 30px;
        height: 30px;
        margin: 0;
    }
    /* div at the center */
    .center{
        width: 85%;
    }
    .greyBg{
        height: 180px;
    }
    .outerCircle{
        width: 100px;
        height: 100px;
    }
    /* right most side of the web app */
    .asideRight{
        display: none;
    }
    .text{
        display: none;
    }
}
@media only screen and (max-width: 1014px) and (min-width:601px){
    /* div with image background */
    .withImgBg{
        display: none;
    }
    /* div on the right side */
    .rightSide{
        width: 80%;
        margin: auto;
    }
    /* div with margin auto containing every other thing */
    .main{
        width: 100%;
        padding: 20px 0;
    }
    .mainMain{
        padding: 10px 0;
    }
    /* div outer with sign in with apple/google div */
    .outer, .outer2, .outerB, .mainOuter{
        width: 70%;
    }
    /* section 2 -------- */
    .popUp{
        width: 100%;
        height: 100%;
    }

    /* ----------Profile.html ---- */
    .main{
        margin: auto;
        width: 80%;
    }
    /* aside left */
    .aside{
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .iconAndText{
        width: 100%;
        justify-content: center;
    }
    .icon, .tweetLogo{
        width: 30px;
        height: 30px;
        margin: 0;
    }
    /* div at the center */
    .center{
        width: 85%;
    }
    /* right most side of the web app */
    .asideRight{
        display: none;
    }
    .text{
        display: none;
    }
}